<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row id="row-header">
        <ion-col class="text-left">
          <a href="#" id="link-voltar">
            <ion-icon name="arrow-back"></ion-icon>
          </a>
        </ion-col>

        <ion-col class="text-center text-bold">
          <ion-title class="title-header mt-2" id="title-header">Perfil Usuário</ion-title>
        </ion-col>

        <ion-col class="text-right">
          <a href="#" id="link-confirmar">
            <ion-icon name="checkmark"></ion-icon>
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<div class="container-fluid" id="container-principal">
  <form>
    <ion-item>
      <ion-label class="label-form">Nome: </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label class="label-form">E-mail: </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  
    <ion-item>
        <ion-label class="label-form">Telefone: </ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label class="label-form">Idade: </ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="label-form">Senha: </ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
  </form>
  
</div>

<ion-content></ion-content>