@font-face{
    src: url("../../fonts/ColorTube-Regular.otf");
    font-family: 'fonte-header';
  }

ion-title#title-header{
    font-family: 'abyssinica Sil';
    font-size: 25px;
    color: green;
    text-align: center;
}

a#link-voltar{
  color: black;
}

a#link-confirmar{
  color: green;
}

ion-label.label-form {
  width: 100px;
  font-weight: bold;
  color: green;
}