<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="tab1">
      <ion-icon name="compass"></ion-icon>
      <ion-label>Explorar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil Posto</ion-label>
    </ion-tab-button>
 

    <ion-tab-button tab="tab4">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil Usuário</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
        <ion-icon name="information-circle"></ion-icon>
      <ion-label>Sobre</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>