@font-face{
    src: url("../../fonts/ColorTube-Regular.otf");
    font-family: 'fonte-header';
  }

ion-title#title-header{
    font-family: 'abyssinica Sil';
    font-size: 25px;
    color: green;
    //font-style: bold;
}

ion-card#card{
  position: 100%;
	top: 20%;
	
}