<ion-header>
  <ion-toolbar>
    <ion-title text-center class="title-header" id="title-header">
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content-principal">
  <ion-card id="card">
    <ion-card-content class="justify-content-center text-center mx-auto">
        <p>Quantas pessoas já foram para um lugar que não conhece e precisou abasatecer? Ou então queria apenas um posto com o preço mais em conta? Seu dinheiro é pouco para
          abastecer?<br> O aplicativo <b>Abasteça Legal</b> veio para acabar com qualquer problema que você tenha com postos de gasolina. Como é um aplicativo colaborativo, por trás deste
          sistema existe uma equipe qualificada para<br> verificar cada alteração de preços feito por nossos usuários do aplicativo para um melhor aproveitamento do mesmo. Utilize 
          o aplicativo como desejar e aproveite a experiência de que esta sendo fornecida<br> de maneira totalmente gratuita, aproveite para colaborar com outras pessoas que podem 
          estar na mesma situação que voce já esteve. Ajude o proximo.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
