.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

// @font-face{
//   src: url("../../fonts/ColorTube-Regular.otf");
//   font-family: 'fonte-header';
// }

.right {
  float: right;
  font-weight: bolder;
  color: black;
}


.center {
  float: center;
}

ion-card-title.nome-posto {
  font-weight: bold;
}

.gas {
  font-weight: bold;
  color: green;
}

.eta {
  font-weight: bold;
  color: red;
}

.die {
  font-weight: bold;
  color: black;
}

ion-icon#icon-pint {
  color: green;
}

.map{
  height: 100%;
  
}

ion-title#title-header{
  font-family: 'abyssinica Sil';
  font-size: 25px;
  color: green;
  font-style: bold;
}

ion-card#card-explorar{
  // border-width: 1px;
  // border-style: solid;
  // border-color:black;
  background-color: #f0f0f0;
  
}

ion-searchbar#searchbar{
  background-color: #f0f0f0;
}
